@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1{
    font-family: 'Bebas Neue';
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
#hero-image{
    width: 100%;
    margin: 0px;
    padding: 0px;
    
}
#logo_link{
    padding-top: 5px;
}

main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #83e8ba;
}
header{
    background-color: #e4be9e;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #776871;
    color: white;
}
footer{
    background-color: #e4be9e;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3{
    color: black;
    text-decoration: underline;
}
footer a{
    color: rgb(240, 226, 220);
    text-decoration: none;
}
footer a:hover{
    color: black;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
h2{
    margin:0;
}
h4{
    color: black;
}
body{
    background-color: #188ec9;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.book{
    background-color: #83e8ba;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #776871;
    color: black;
}
.join{
    background-color: #83e8ba;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover{
    background-color: #776871;
    color: black;
}
.msg{
    background-color: #e4be9e;
    line-height: 1.5em;
    padding: 35px;
}
.home-title{
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
.button-box{
    text-align: center;
}

.msg h2{
    color: black;
}
.msg p{
    color: white;
    padding-bottom: 15px;
}

.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 5px;
}
.product{
    margin: 200px 0;
}
.product-img{
    border: 10px solid black;
}